<h1> Log In</h1>
<%= form_with model: @user do |f| %>
<%= render partial: "users/form", locals: {user: @user} %>
  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>
<%= link_to 'Back', root_path %>
