<h1> Edit Plant </h1>
<h2><%= @plant.name %></h2>
<%= render 'form', plant: @plant %>
<br>
<%= button_to "Delete Plant", @plant, method: 'delete', data: 
    {confirm: "Delete this plant? Action cannot be undone." } %>
