<p><h1> Plants </h1><p>
<div class='invisible-wrapper'>
    <% @plants.each do |plant| %><br><br>
     <%= link_to plant, class: 'link-card' do %>
       <h3 class='plant'> <%= plant.name %></h3>
        <%end%>
    <% end %>
<div>    
