.checkbox_container {
    display: inline-block;
    vertical-align: -1px;
    margin: 5px;
   }
  .checkbox_container input {
    display: inline;
   }
  .checkbox_container .collection_check_boxes{
    display: inline;
    vertical-align: -5px;
   }

   p{
     color: #4B5267 !important;
   }

   .link-card{
    border: 2px solid #243e36;
    margin: 10px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    box-shadow: 5px 5px 10px #243e36;
    }