p{
    color: red;
  }

  body {
    text-align: center;
    background-color: #6b4d57;
    color: #ddc8c4;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .comments 
    {color: #ddc8c4;

    }