 <h1 class="mainhead"> ScreenThumb</h1>
    <ul class="ul-navbar">
      <div class="topnav-centered">
      <li class="navbar"><a href="/">Home </a></li>
      <li class="navbar"><a href="/users">Log In</a></li>
      <li class="navbar"><a href="/users/new">Sign Up</a></li>
      <li class="navbar"><a href="/users/show">Users</a></li>
      <li class="navbar"><a href="/books">Books</a></li>
      <li class="navbar"><a href="/reviews">Reviews</a></li>
      <li class="navbar"><a href="/users/logout">Log Out </a></li>
    </ul>
  </header>
  <body>
    <div class="wrapper">